<a href="https://colab.research.google.com/github/lintosunny/Data-Science-Learning/blob/main/%5BWeek_02%5D_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures**

Python provides several built-in data structures that are fundamental for organizing and storing data efficiently. Here are some of the most commonly used data structures in Python:

*   String
*   List
*   Tuple
*   Dictionary
*   Set

## **String**
*   A string is a sequence of characters
*   Ordered sequence of characters.
*   Immutable (individual characters cannot be changed after creation).
*   Can be created using single (') or double (") quotes.

In [ ]:
# Create a string

string1 = 'single quotation'
string2 = "double quotation"
string3 = '''triple
                quotaion'''

print('sting1 :',string1)
print('sting2 :',string2)
print('sting3 :',string3)

sting1 : single quotation
sting2 : double quotation
sting3 : triple
                quotaion

### **format strings**

In [ ]:
price = 2.8999
print(f"Price of Banana: ${price:.0%} \nPrice of Berry: ${price:.1%}")

Price of Banana: $290%
Price of Berry: $290.0%

In [ ]:
# You can assign names to designate how you want values to be inserted.
name = 'Manuel'
number = 3
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Manuel, your lucky number is 3.

In [ ]:
# You can use argument indices to designate how you want values to be inserted.
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Manuel, your lucky number is 3.

In [ ]:
# Example inserting prices into string
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

In [ ]:
# Use :.2f to round a float value to two places beyond the decimal.
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [ ]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
    return (x-32) * 5/9

# Create a temperature conversion table using string formatting
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

### **String slicing**

In [ ]:
string = "Linto"

print('string[0] :',string[0])
print('string[2:4] :',string[2:4])
print('string[:4] :',string[:4])
print('string[2:] :',string[2:])
print('string[:] :',string[:])
print('string[-1] :',string[-1])

string[0] : L
string[2:4] : nt
string[:4] : Lint
string[2:] : nto
string[:] : Linto
string[-1] : o

In [ ]:
# index error, because of invalid index
print(string[99])

In [ ]:
# type error, Only give INT and that is with in len of string
print(string[4.0])

TypeError: ignored

### **Update String**

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

In [ ]:
# Creating a string and checking memory location
string = 'Linto'
print(string)
print('memory location before updating:',id(string))

string += 'Sunny'
print(string)
print('memory location after updating:',id(string))

Linto
memory location before updating: 138265982672496
LintoSunny
memory location after updating: 138265982729392

In [ ]:
# updating string value(cant do)
string[2] = 'k'

TypeError: ignored

### **Delete String**

*   Cannot delete or remove characters from a string
*   Can delete the string entirely using the keyword 'del'

In [ ]:
del string
print(string)

NameError: ignored

### **String operations**

#### **Concatenation of two or more strings**

In [ ]:
# Concatenation - Joining two or more strings into a single one

str1 = 'Hello'
str2 = 'World'

# concatenation of two strings
print(str1 + " " + str2)

# Repeat string n times
print(str1 * 5)

Hello World
HelloHelloHelloHelloHello

#### **ord() and chr() functions**

In [ ]:
# ord() - function returns the ASCII code of the character
print(ord('b'))

98

In [ ]:
# chr() - function returns character represented by a ASCII number
print(chr(98))

b

#### **String comparison**

In [ ]:
# Can use (<, >, ==, <=, >=, !=)
# Compare string using ASCII value of characters

print("python" == "Python")

False

In [ ]:
print('ASCII of P:',ord("P"))
print('ASCII of p:',ord("p"))
print("p" > "P")

ASCII of P: 80
ASCII of p: 112
True

#### **String Membership operator**

In [ ]:
# in operator
str1 = "Linto"
print('i' in str1)

# not in operator
print('k' not in str1)

True
True

### **String methods**

In [ ]:
# 1. strip() - removes any whitespace from the beginning or the end
str = ' linto '
print(str)
print(str.strip())

 linto
linto

In [ ]:
# 2. len() - returns the length of a string
str = 'linto'
print('Length of string:',len(str))

Length of string: 5

In [ ]:
# 3.lower() - returns the string in lower case
str = 'LINTO'
print(str.lower())

# 4. islower() - check whether string is in lower case or not
print(str.islower())

linto
False

In [ ]:
# 5.upper() - returns the string in upper case
str = 'linto'
print(str.upper())

# 6. isupper() - check whether string is in lower case or not
print(str.islower())

LINTO
True

In [ ]:
# 7.isalpha() - checks if all characters are alphabets
print('56'.isalpha())
print('5kf'.isalpha())
print('kf'.isalpha())

False
False
True

In [ ]:
 # 8.isdigit() - check whether string is digit numbers
print('56'.isdigit())
print('5kf'.isdigit())
print('kf'.isdigit())

True
False
False

In [ ]:
 # 9.isalnum() - check whether string is alpha numaric character
print('56'.isalnum())
print('5kf'.isalnum())
print('kf'.isalnum())

True
True
True

In [ ]:
# 10.count() - returns the number of occurance of a substring in the given string
str = 'python is easy to learn. This is simple'
print("count of 'is' in str:",str.count('is'))
print("count of ' is ' in str:",str.count(' is '))

count of 'is' in str: 3
count of ' is ' in str: 2

In [ ]:
# 11.join() - return a string concatenated with the elements of an iterable
str1 = '-'
str2 = '12345'
print('str1.join(str2):',str1.join(str2))

str1.join(str2): 1-2-3-4-5

In [ ]:
# 12.split() - breaks up a string at the specified separator and returns a list of strings
str = 'python is easy'
print(str.split())

['python', 'is', 'easy']

In [ ]:
# 13.find() - returns the index of first occurence of the substring (if found), if not found return -1
str = 'python is easy'
print(str.find('py'))
print(str.find('linto'))

0
-1

In [ ]:
# 14.replace() - returns a copy of string where all occurences of a substring is replaced with another substring
fruit = 'Appla'
print(fruit.replace('a','e'))

color = 'red, yellow, orange, white'
print(color.replace('red','N/A'))

Apple
N/A, yellow, orange, white

In [ ]:
# 15.sorted() - returns a sorted list from the given iterable
str = 'wmshydnsm'
print(sorted(str))

['d', 'h', 'm', 'm', 'n', 's', 's', 'w', 'y']

In [ ]:
# 16. startswith() - returns True if a string starts with the specified prefix
str = 'Linto'
print(str.startswith('L'))
print(str.startswith('k'))

True
False

In [ ]:
# 17. endswith() - returns True if a string ends with the specified suffix
str = 'Linto'
print(str.endswith('L'))
print(str.endswith('k'))

False
False

## **List**

*   A list is a collection which is ordered and changeble
*   Lists are mutable, which means they can be changed
*   Lists are enclosed in []
*   Each item in a list is separated by a comma. Eg: list1 = [1, 3, 4, 6]
*   Lists are collection of items (strings, integers or even other lists)
*   Each item in the list has an assigned index value

In [ ]:
# create a list
list1 = [1,2,3,4,5,6,7]
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# list of lists
list2 = [['a','v'],[4,6]]
print(list2)

[['a', 'v'], [4, 6]]

### **List indexing and slicing**
*   Indexing - Access individual elements
*   Slicing - Access range of characters

### **Updating list**

In [ ]:
list = [4,4,2,1]
print('List before updating:',list)
list[1] = 0
print('List after updating:',list)

List before updating: [4, 4, 2, 1]
List after updating: [4, 0, 2, 1]

### **Delete list items**

In [ ]:
list1 = [4,4,2,9,1]

# del - based on index position or delete a particular item
del list1[1]
print(list1)

# delete full list
del list1

[4, 2, 9, 1]

### **Traversing List using Loop**

In [ ]:
num = range(4)

for i in num:
    print(i)

0
1
2
3

### **List methods**

In [ ]:
# 1.Concatenation
list1 = ['linto','sunny']
list2 = [1,2]
final_list = list1 + list2
print(final_list)

['linto', 'sunny', 1, 2]

In [ ]:
# 2.Length - no of elements in list
list1 = ['linto','sunny']
print('Length of list:',len(list1))

Length of list: 2

In [ ]:
# 3. Repetition - n copies of list concatenated
list1 = ['python']
print(list1 * 3)

['python', 'python', 'python']

In [ ]:
# 4.Membership
list1 = ['linto','sunny']
print('linto' in list1)
print('linto' not in list1)

True
False

In [ ]:
# 5.Smallest number in the list
list1 = [1,2,3,4,5]
print('The smallest number in the list:',min(list1))

The smallest number in the list: 1

In [ ]:
# 6.largest number in the list
list1 = [1,2,3,4,5]
print('The largest number in the list:',max(list1))

The largest number in the list: 5

In [ ]:
# 7.Sum of all the numbers in the list
list1 = [1,2,3,4,5]
print('The sum of all the numbers in the list:',sum(list1))

The sum of all the numbers in the list: 15

In [ ]:
# 8.Append - It adds an element x to the end of the list and returns None. Takes exactly one argument, append(x)

# append an element
list1 = [1,2,3,4,5]
list1.append(6)
print(list1)

# append a list
list2 = [10,20]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [10, 20]]

In [ ]:
# 9.Extend - Appends all the elements from one list to the another list and returns None.
list1 = [1,2,3,4,5]
list2 = [10,20]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 20]

In [ ]:
# 10.Insert - Inserts an element x at a given index
list1 = [1,2,3,4,5]
list1.insert(0,999)
print(list1)

[999, 1, 2, 3, 4, 5]

In [ ]:
# 11.Remove - Removes the first occurrence of element x from the list and return none
list1 = ['linto','sunny','linto']
list1.remove('linto')
print(list1)

['sunny', 'linto']

In [ ]:
# 12.Pop - removes the element at the given position and returns it
list1 = ['linto','sunny','linto']
a = list1.pop(1)
print('Value removed:',a)
print(list1)

Value removed: sunny
['linto', 'linto']

In [ ]:
# 13.Count - return the number of times x element appears in the list
list1 = ['linto','sunny','linto']
print('count of linto in list1:',list1.count('linto'))

count of linto in list1: 2

In [ ]:
# 14.Reverse
list1 = [1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

In [ ]:
# 15.Sort - by default ascending order
list1 = [2,5,3,8,5,0,3]
list1.sort(reverse=True)
print('Sorted List in DESC:',list1)

Sorted List in DESC: [8, 5, 5, 3, 3, 2, 0]

### **List Comprehension**
*   List comprehension is an elegant and concise way to create new list from an existing list in Python
*   List comprehension consist of an expession followed by for statement inside square brackets

In [ ]:
# without list comprehension
cube = []
for i in range(10):
    cube.append(i ** 3)
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# using list comprehension
cube = [i**3 for i in range(10)]
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# print the even numbers
even_num = [x for x in range(20) if x % 2 == 0]
print('The even numbers in the list are:',even_num)

# print the odd numbers
odd_num = [x for x in range(20) if x % 2 != 0]
print('The odd numbers in the list are:',odd_num)

The even numbers in the list are: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
The odd numbers in the list are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## **Tuple**

*   A tuple is a collection which is ordered and unchangable
*   Tuples are very similar to list, but once a tuple is created, you cannot add, delete, replace, reorder elements. ie, immutable
*   Tuples are enclosed parantheses () Each item in a Tuples is separated by a comma. Eg: tuple1 = (1,2,3,4)
*   Tuples are collection of items (strings, integers or even other lists)
*   Each item in the Tuples has an assigned index value

### **Create Tuple**

In [ ]:
# Creating tuple
tuple1 = (1,2,3,4)
print(tuple1)

# Nested tuples
tuple2 = ((2,4),('a','b'))
print(tuple2)

(1, 2, 3, 4)
((2, 4), ('a', 'b'))

In [ ]:
# Note
# paranthesis without comma at the end
name = ('Python')
print(type(name))

# paranthesis with comma at the end
name2 = ('Python',)
print(type(name2))

<class 'str'>
<class 'tuple'>

### **Delete Tuple**
*   Removing individual tuple elements is not possible
*   To explicitly remove an entire tuple, just use the del statement

In [ ]:
tuple1 = (1,2,3)
del tuple1

### **Tuple Methods**
Look into methods of lists, all of the methods are same replace list with tuple

In [ ]:
# 1.Index - searches for the given element in a tuple and returns the position. However, if the same element is present more than onec, the first/smallest posiion is returned
num = (1,2,3,3)
print('The index of 3:',num.index(3))

The index of 3: 2

In [ ]:
# 2.Sorted - list has sort() which performs the same way as sorted() in tuples
tuple1 = (4,2,8,4,0,2)
print('Sorted tuple:',sorted(tuple1, reverse=True))

Sorted tuple: [8, 4, 4, 2, 2, 0]

### **Create tuple using tuple()**

In [ ]:
# creating tuple from list
tuple1 = tuple([1,2,3])
print('List to Tuple conversion:',tuple1)

# creating a tuple from a string
tuple2 = tuple(('Python'))
print('String to Tuple conversion:', tuple2)

# creating a tuple from a dictionary
tuple3 = tuple({1:'linto', 2:'sunny'})
print('Dictionary to Tuple Conversion:', tuple3)

List to Tuple conversion: (1, 2, 3)
String to Tuple conversion: ('P', 'y', 't', 'h', 'o', 'n')
Dictionary to Tuple Conversion: (1, 2)

### **Advantages of Tuple over List**
*   If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected
*   Since tuple are immutable, iterating through tuple is faster than with list. So there is a slight performace boost
*   Tuples that contain immutable elements can be used as key for a dictionary. With list, this is not possible

## **Dictionary**
*   Dictionary is a python data type that is used to store 'key-value' pairs. Eg: employee1 = {'name':'linto','address':'kerala','company':'paragon'}
*   It enables to quickly retrive, add, remove, modify, values using a key
*   Dictionary is very similar to what we call associative array or hash on other languages
*   Dictionaries are mutable
*   No index value concept in dictionary

### **Create Dictionary**
*   Dictionaries are represented by enclosed curly braces {}
*   Each key will have its value which is separated by a colon (:)
*   Each items are separated by commas ,
*   No duplicate keys are allowed

In [ ]:
# empty dictionary
my_dict = {}
print('dictionary with empty values:',my_dict)

#dictionary with integer keys
color = {1:'red',2:'yellow'}
print('dictionary with integer keys:',color)

# dictionary with mixed keys
my_dict2 = {'name':'vinoth',1:['red','green']}
print('dictionary with mixed keys:',my_dict2)

dictionary with empty values: {}
dictionary with integer keys: {1: 'red', 2: 'yellow'}
dictionary with mixed keys: {'name': 'vinoth', 1: ['red', 'green']}

### **Access elements from a dictionary**
To access dictionary elements, you can use the enclosed square brackets along with the key to obtain its value

In [ ]:
# access key which is available in he dictionary
mydetails = {'name':'linto','age':25,'address':'kerala'}
print(mydetails['name'])

linto

In [ ]:
# access the element using get method
mydetails = {'name':'linto','age':25,'address':'kerala'}
print(mydetails.get('name'))

linto

### **Add elements(key) in a dictionary**

In [ ]:
# if key is present, value gets updated, else a new key is added
mydetails = {'name':'linto','age':25,'address':'kerala'}

#add phone number
mydetails['phone_number'] = '123456789'
print(mydetails)

{'name': 'linto', 'age': 25, 'address': 'kerala', 'phone_number': '123456789'}

In [ ]:
# Update/change the existing element(value) in a dictionary
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails['age'] = 31
print(mydetails)

{'name': 'linto', 'age': 31, 'address': 'kerala'}

### **Delete an element in a dictionary**

In [ ]:
# 1.Pop() Method - Remove the item from dictionary, if the key is not found keyerror will be thrown. It will also returns the removed value
mydetails = {'name':'linto','age':25,'address':'kerala'}
print(mydetails.pop('age'))
print(mydetails)

25
{'name': 'linto', 'address': 'kerala'}

In [ ]:
# 2.popitem() Method - to remove and return an arbitary item (key, value)
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails.popitem()
print(mydetails)

{'name': 'linto', 'age': 25}

In [ ]:
# 3.del Keyword - remove individual item or the entire dictionary itself
mydetails = {'name':'linto','age':25,'address':'kerala'}
del mydetails['age']
print(mydetails)

{'name': 'linto', 'address': 'kerala'}

In [ ]:
# 4.Clear Method - all items can be removed at once, without deleting the dictionary
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails.clear()
print(mydetails)

{}

### **Looping items in the dictionary**

In [ ]:
mydetails = {'name':'linto','age':25,'address':'kerala'}

for i in mydetails:
    print(i, mydetails[i])

name linto
age 25
address kerala

### **Dictionary Methods**

In [ ]:
# 1.Length - number of elements in dictionary
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('Length of dictionary:',len(mydetails))

Length of dictionary: 3

In [ ]:
# 2.Membership - in and not in operator
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('name' in mydetails)
print('email' not in mydetails)

True
True

In [ ]:
# 3.Sorted() - always take key as referance purpose
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('Sorted dictionary:',sorted(mydetails))

Sorted dictionary: ['address', 'age', 'name']

In [ ]:
# 4.keys() - return keys in the dictionary as tuples
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('All the keys available in mydetails:',mydetails.keys())

All the keys available in mydetails: dict_keys(['name', 'age', 'address'])

In [ ]:
# 5.values() - return values in the dictionary as tuples
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('All the values available in mydetails:',mydetails.values())

All the values available in mydetails: dict_values(['linto', 25, 'kerala'])

In [ ]:
# 6. items() - return both key & values in the dictionary as tuples
mydetails = {'name':'linto','age':25,'address':'kerala'}
print('All the items available in mydetails:',mydetails.items())

All the items available in mydetails: dict_items([('name', 'linto'), ('age', 25), ('address', 'kerala')])

In [ ]:
# 7.copy() - return a shallow copy of the dictionary. It doesn't modify the original dictionary
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails_copy = mydetails.copy()
print('Original:',mydetails)
print('Copy:',mydetails_copy)

Original: {'name': 'linto', 'age': 25, 'address': 'kerala'}
Copy: {'name': 'linto', 'age': 25, 'address': 'kerala'}

In [ ]:
# 8.update() - insert the specified items to the dictionary at the end , if the value is not present. if the value is already existing, it will be updated with the new value

# insert
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails.update({'company':'none'})
print(mydetails)

# update
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails.update({'company':'par'})
print(mydetails)

# update multiple key and values
mydetails = {'name':'linto','age':25,'address':'kerala'}
mydetails.update(company='xyz',exp=1)
print(mydetails)

{'name': 'linto', 'age': 25, 'address': 'kerala', 'company': 'none'}
{'name': 'linto', 'age': 25, 'address': 'kerala', 'company': 'par'}
{'name': 'linto', 'age': 25, 'address': 'kerala', 'company': 'xyz', 'exp': 1}

In [ ]:
# 9.fromkeys() - creates a new dictionary from the given sequence of elements with a value proviced by user
mykeys = {'a','e','o','i','u'}
value = 'vowels'
dict.fromkeys(mykeys,value)

{'e': 'vowels', 'a': 'vowels', 'o': 'vowels', 'u': 'vowels', 'i': 'vowels'}

In [ ]:
# 10.setdefault() - returns the value of a key (if the key is in dictionary). If not, it inserts key with value to the dictionary

# if key is not in the dictionary
employee = {'name':'Linto'}
employee.setdefault('salary')
print(employee)

# if key is not in the dictionary and defalult value is provided
employee = {'name':'Linto'}
employee.setdefault('company','Google')
print(employee)

{'name': 'Linto', 'salary': None}
{'name': 'Linto', 'company': 'Google'}

In [ ]:
# 11.dir() - get list of all available methods and attributes of dictionary
mydict = {}
print(dir(mydict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### **Dictionary Comprehension**
*   Dictionary comprehension is an elegant and concise way to create new dictionary from an iterable in Python
*   It consist of an expression pair (key:value) followed by for statement inside curly braces {}

In [ ]:
# using dictionary comprehension
{x: x**3 for x in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [ ]:
fruits = ['apple', 'mango', 'banana']
{key: len(key) for key in fruits}

{'apple': 5, 'mango': 5, 'banana': 6}

## **Set**
*    Sets are unordered, meaning the elements do not have a specific order. As a result, you cannot access elements by index.
*   Do not support indexing. You cannot access elements using an index.
*   Sets only contain unique elements. If you try to add a duplicate element, it won't be added, and the set remains unchanged.
*   Sets are mutable, meaning you can add and remove elements after the set has been created.

### **Create set**

In [ ]:
# Sets are created using curly braces {} or the set() constructor.

my_set = {1, 2, 3, 4, 5}

### **Access elements from set**

In [ ]:
# Sets are unordered, so there is no index to access elements directly.
# You can check for membership using the in keyword.

print(3 in my_set)

True

### **Add elements to set**

In [ ]:
# Use the add() method to add a single element.
my_set.add(6)
print(my_set)

# Use the update() method to add multiple elements.
my_set.update({7, 8, 9})
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### **Delete an item from set**

In [ ]:
# Use the remove() or discard() method to delete a specific element.
my_set.remove(5)
print(my_set)

my_set.discard(7)
print(my_set)

# Use the pop() method to remove and return an arbitrary element.
popped_element = my_set.pop()
print(popped_element, my_set)

{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 8, 9}
1 {2, 3, 4, 6, 8, 9}

### **Looping through set**

In [ ]:
for item in my_set:
    print(item)

2
3
4
6
8
9

### **Set methods**
*   union(): Returns the union of two sets.
*   intersection(): Returns the intersection of two sets.
*   difference(): Returns the difference between two sets.
*   symmetric_difference(): Returns the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

print(union_set, intersection_set, difference_set, symmetric_difference_set)

{1, 2, 3, 4, 5} {3} {1, 2} {1, 2, 4, 5}

### **Set comprehension**

In [ ]:
squares = {x**2 for x in range(5)}
print(squares)

{0, 1, 4, 9, 16}